body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;   
    box-sizing: border-box;
    padding: 0 15px; 
    overflow-x: hidden; 
    color: #7a7a7a;
}

.hover {
    position: fixed;
    width: 1000000px;
    height: 10000000px;
    z-index: 10000000;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    #title {
        margin-top: 50vh;
        position: fixed;
        z-index: 10000001;
        font-size: 40px;
    }
}

.undercover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999990;
}


.gift-open-menu {
    background-color: #e7e7e7;

    position: fixed;
    margin-top: 25vh;

    z-index: 1000000;

    min-width: 350px;
    max-width: 550px;
    max-height: 400px;
    min-height: 200px;
    
    border-radius: 50px;


    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;

        margin-left: -10px;

        #gift-sticker-container {
            height: 65px;
            transition: transform 0.6s ease-in-out;
        }
    }

    .gm_exit_button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;

        font-size: 20px;

        top: 15px;
        right: 20px;
    }

    #main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        margin-top: 80px;
        
        .button-gm {
            font-size: 32px;
            margin-top: -50px;
            color: black;
        }
        .button-gm-right {
            margin-left: -40px;
        }
        .button-gm-left {
            margin-right: -40px;
        }

        .circle-video {
            
            color: black;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
            .circle-video-time {
                margin-top: 3px;
            }

            #circle-video {
                box-shadow: 0 0px 16px 5px rgba(0, 0, 0, 0.671); 
                margin-bottom: 10px;
            }

            #video-control {
                margin-left: 7px;
                display: flex;
                flex-direction: row;
                font-size: 25px;
                letter-spacing: 7px;
                margin-bottom: 20px;
            }
        }
        
        .compliment {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-left: 20px;
            margin-right: 20px;

            #pre-text {
                color: #555;
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: -6px;
            }

            .secret-container {
                position: relative;
                display: inline-block;
                margin-bottom: 30px;
                
                #compliment-text {
                    color: black;
                    background-color: #dadada;
                    border-radius: 10px;
                    text-align: center;
                    padding: 12px 25px;
                    box-sizing: border-box;
                    white-space: nowrap;
                }

                #hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    
                    background: linear-gradient(135deg, #ffe259 0%, #ffa751 100%); 
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    z-index: 2;
                    
                    transition: opacity 0.4s ease, transform 0.4s ease;
                }

                #hover.opened {
                    opacity: 0;
                    transform: scale(0.95);
                    pointer-events: none;
                }
            }
        }

        .giftCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;

            #pre-text {
                color: #555;
                font-size: 16px;
                margin-top: 16px;
                margin-bottom: -6px;
            }

            .secret-container {
                position: relative;
                display: inline-block;
                
                #giftCardImg {
                    border-radius: 10px;
                }

                #hoverGiftCard {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    
                    background: linear-gradient(135deg, #59ffdb 0%, #51b9ff 100%); 
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: clamp(10px, 0vw, 24px); 
                    text-align: center;
                    white-space: nowrap;
                    font-weight: bold;
                    cursor: pointer;
                    z-index: 2;
                    
                    transition: opacity 0.4s ease, transform 0.4s ease;
                }

                #hoverGiftCard.opened {
                    opacity: 0;
                    transform: scale(0.95);
                    pointer-events: none;
                }
            }
        }
    }

    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin-left: 25px;
    }
}


.hidden {
    display: none !important;
}

#sticker-container {
    padding-top: 15%;
    width: 260px;  
    height: 260px;
    margin: 0 auto;
    position: relative;
    display: block;
    transition: transform 0.6s ease-in-out;
}

#calendar-sticker-container {
    height: 40px;
    margin: 0 auto;
    margin-top: -9px;
    margin-left: 10px;
    position: relative;
    display: block;
    transition: transform 0.6s ease-in-out;
}

.move-sticker {
    transform: translate(0px, -50px) scale(0.8) !important;
}

.move-calendar {
    opacity: 1 !important;
    transform: translate(0px, -10px) scale(1) !important;
}

.main-container {
    margin-top: -70px;
    opacity: 1;
    transform: translate(0, 0) scale(1);
    transition: transform 0.6s ease-in-out, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    max-width: 400px;
    min-height: 250px;
    padding: 30px 20px;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #f0f0f0;
}

.main-container .title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.main-container .day-controler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.main-container .day-controler .button-change-day {
    height: 50px;
    width: 35px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container #button-change-day-previous {
    border-radius: 12px;
}

.main-container #button-change-day-next {
    border-radius: 12px;
}

.main-container .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main-container .center-container video {
    width: 100%;
    max-width: 180px;
    height: auto;
    display: block;
}

.main-container #day_number {
    margin-top: 15px;
    display: flex;
    font-size: 18px;
}

.main-container #day_number #text {
    margin-left: 5px;
}

.opacity-zero {
    opacity: 0 !important;
    transform: translateY(65px) scale(0.8);
}

.opacity-full {
    opacity: 1;
}

.container_firstmeet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 18px; 
    text-align: center;
    width: 100%;
    max-width: 400px; 
    box-sizing: border-box;
}

.description {
    padding-top: 12px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size: 16px;
}

.continue_btt {
    margin-top: 20px;
    height: 42px;
    width: 160px; 
    border: 1px solid #9b9b9b;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    font-size: 15px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.fixed-bottom {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.restartBtt {
    margin-top: 10px;
    margin-bottom: 8px;
    border: 0px solid #9b9b9b;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0);
    font-size: 13px;
    color: rgba(54, 54, 54, 0.3);
    cursor: pointer;
}

.restart-animations {
    display: flex;
    justify-content: center;
}






.ubuntu-light { font-family: "Ubuntu", sans-serif; font-weight: 300; font-style: normal; }
.ubuntu-regular { font-family: "Ubuntu", sans-serif; font-weight: 400; font-style: normal; }
.ubuntu-medium { font-family: "Ubuntu", sans-serif; font-weight: 500; font-style: normal; }
.ubuntu-bold { font-family: "Ubuntu", sans-serif; font-weight: 700; font-style: normal; }
.ubuntu-light-italic { font-family: "Ubuntu", sans-serif; font-weight: 300; font-style: italic; }
.ubuntu-regular-italic { font-family: "Ubuntu", sans-serif; font-weight: 400; font-style: italic; }
.ubuntu-medium-italic { font-family: "Ubuntu", sans-serif; font-weight: 500; font-style: italic; }
.ubuntu-bold-italic { font-family: "Ubuntu", sans-serif; font-weight: 700; font-style: italic; }


