body {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    width: 100%;   
    box-sizing: border-box;
    padding: 0 15px; 
    overflow-x: hidden; 
}

#sticker-container {
    padding-top: 15%;

    width: 260px;  
    height: 260px;
    margin: 0 auto;
    position: relative;
    display: block;
    transition: transform 0.6s ease-in-out;
}

.move-sticker {
    transform: translate(0px, -50px) scale(0.8) !important;
}

.container_firstmeet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-size: 18px; 
    text-align: center;

    width: 100%;
    max-width: 400px; 
    box-sizing: border-box;
}

.description {
    padding-top: 12px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size: 16px; 
}

.continue_btt {
    margin-top: 20px;

    height: 42px;
    width: 160px; 

    border: 1px solid #9b9b9b;
    border-radius: 5px;

    background-color: rgb(245, 245, 245);
    font-size: 15px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.restartBtt {
    margin-top: 10px;
    margin-bottom: 8px;

    border: 0px solid #9b9b9b;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0);
    font-size: 13px;
    color: rgba(54, 54, 54, 0.3);
    cursor: pointer;
}

.restart-animations {
    display: flex;
    justify-content: center;
}

.ubuntu-light { font-family: "Ubuntu", sans-serif; font-weight: 300; font-style: normal; }
.ubuntu-regular { font-family: "Ubuntu", sans-serif; font-weight: 400; font-style: normal; }
.ubuntu-medium { font-family: "Ubuntu", sans-serif; font-weight: 500; font-style: normal; }
.ubuntu-bold { font-family: "Ubuntu", sans-serif; font-weight: 700; font-style: normal; }
.ubuntu-light-italic { font-family: "Ubuntu", sans-serif; font-weight: 300; font-style: italic; }
.ubuntu-regular-italic { font-family: "Ubuntu", sans-serif; font-weight: 400; font-style: italic; }
.ubuntu-medium-italic { font-family: "Ubuntu", sans-serif; font-weight: 500; font-style: italic; }
.ubuntu-bold-italic { font-family: "Ubuntu", sans-serif; font-weight: 700; font-style: italic; }
